//
   Created by Aria on 2016-07-07.

extends layout
block content
   h1 ApiDoc
   p Project_D

   table(border=1)
      tr
         td Category
         td Name
         td Type
         td Version
         td Desc
      each value, key in api
         each value1, key1 in value
            tr
               td #{value1['category']}
               td
                  a(href='/apidoc/' + value1['category'] + '/' + value1['name'] + '/') #{value1['name']}
               td #{value1['method']}
               td #{value1['version']}
               td #{value1['desc']}


